.cover {
    background: url("../img/sandakphu/sandk10.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: right 0% bottom 30%;
}

.caption {
    font-family: 'Lato', sans-serif;
    text-align: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    font-size: 7vw;
    letter-spacing: 3vw;
    position: fixed;
}

.info {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.blogtext {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
    color: darkslategray;
    /*letter-spacing: 1px;*/
}

.route {
    display: flex;
    justify-content: center;
    align-items: center;
}

.routesvg:hover {
    transform: scale(1.2);
    z-index: 1;
}

.fullpic {
    object-fit: cover;
    margin-bottom: 3%;
}

@media (max-width: 1024px) {
    .blogtext {
        padding-left: 5%;
        padding-right: 5%;
        line-height: 1.7em;
        text-align: justify;
        margin-top: 10%;
        /*letter-spacing: 0.05em;*/
    }

    .cover {
        background-position: right 50% bottom 80px !important;
        height: 50vh;
    }

    .info {
        margin-top: 10%;
    }

    .fullpic {
        margin-bottom: 10%;
        margin-bottom: 10%;
        transform: scale(1.05);
    }
}

@media (max-width: 768px) {
    .fullpic {
        margin-bottom: 10%;
        margin-bottom: 10%;
        transform: scale(1.1);
    }
}