.cover {
    background: url("../img/sandakphu/sandk1.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption {
    font-family: 'Lato', sans-serif;
    text-align: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    font-size: 7vw;
    letter-spacing: 3vw;
    position: fixed;
}

.blogtext {
    margin-top: 10%;
}