.body {
    min-height: 100vh;
}

.collagecontainer {
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
}

.card {
  font-family: 'Ubuntu', sans-serif;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

@media (max-width: 768px) {
    .collagecontainer {
      position: relative;
      margin-top: 20%;
      margin-bottom: 10%;
    }
    .card:hover {
        transform: scale(1.05);
        z-index: 1;
    }
}